
<div class="container mt-3">
    <button class="btn btn-primary" (click)="getData()">Obtener Datos</button>
</div>

<div class="container" *ngIf="datos">
    <p>Fecha:  {{ datos.date }}</p>
    <p>Base: {{ datos.base }}</p>
</div>

<div class="container" *ngIf="datos">
    <table class="table table-condensed table-sm table-striped table-hover">
        <thead>
            <tr>
                <th>CAD</th>
                <th>HKD</th>
                <th>ISK</th>
            </tr>         
        </thead>
        <tbody>
            <tr>
                <td>
                    {{ datos.rates.CAD }}
                </td>
                <td>
                    {{ datos.rates.HKD }}
                </td>
                <td>
                    {{ datos.rates.ISK }}
                </td>
            </tr>
        </tbody>
    </table>
</div>