
<!-- Sites Component (Padre) -->
<div class="container border mt-3">
  <table class="table table-condensed table-striped table-sm table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>DNI</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ form.nombre }}</td>
        <td>{{ form.apellido }}</td>
        <td>{{ form.dni }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <app-formulario (formulario) = "recibeForm($event)">

  </app-formulario>
</div>